
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_LayoutShare.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-cart.css" />
    <script src="https://kit.fontawesome.com/94d458011e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="giohang">
        <div class="tieude"> <p1>Sản phẩm</p1><p2>Giá</p2> <p3>Số lượng</p3><p4>Thành tiền</p4></div>
        <div class="itemgiohang">
            <div class="imgitem">
                <img src="~/img/giay-nike-den-do.jpg">
            </div>
            <p class="nameitem">Giày 1</p>
            <div class="price">500000đ</div>
            <input type="number" class="soluong" value="1">
            <p class="thanhtien">500000đ</p>
            <div class="deleteitem"></div>
            <i class="fas fa-trash"></i>
        </div>
        <div class="tongtien">
            <a>Tổng tiền: </a>
        </div>
        <div class="btn-thanhtoan">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="A6AVZQ9ZRWVAG">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</body>
</html>



